body{
    background-color: rgb(155, 235, 197);
}

h1{
    text-align: center;
    text-decoration: underline;
    color: blue;
    border-style: groove; 
    border-width: 10px;
    margin: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-color: rgb(255, 255, 255);

}
h2{
    color: blue;
   text-decoration:overline;
   text-align: center;

}
#t2{
   
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

#t3{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif; 
}
#t4{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}



.parrafo1{
    color: rgb(165, 139, 139);
    
    font-size: larger;
    font-family: 'Bruno Ace SC', cursive;
    background-image: url(./multimedia/77420df3f9e33db5b79ee25455d3340e.png);
    background-repeat: repeat;

    border-style: groove; 
    border-width: 10px;
    padding: 30px;
    border-color: rgb(255, 255, 255);


}

.parrafo2{
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    ;
    font-size: larger;
    font-family: 'Caveat', cursive;
    
}
.parrafo3{
    background-color: rgb(212, 150, 161);
    font-size: larger;
    font-family: 'Dancing Script', cursive;
    
}
.parrafo4{
    background-color: rgb(112, 192, 112);
    font-size: larger;
    font-family: 'Raleway', sans-serif;
}